/* CalendarStyles.css */
.react-calendar {
    width: 100%;
    border: none;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px;
  }
  
  .react-calendar__tile--active {
    background-color: #52a2b2;
    color: white;
  }
  
  .react-calendar__tile--now {
    background-color: #f0f0f0;
  }
  