@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
    border: none !important;
    background-color: white !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
  }
  